[submodule "dotbot"]
  path = dotbot
  url = https://github.com/anishathalye/dotbot
[submodule "lightline.vim"]
  path = vim/plugins/lightline.vim
  url = https://github.com/itchyny/lightline.vim
[submodule "nerdtree"]
  path = vim/plugins/nerdtree
  url = https://github.com/preservim/nerdtree.git
[submodule "YouCompleteMe"]
  path = vim/plugins/YouCompleteMe
  url = https://github.com/Valloric/YouCompleteMe.git
  branch = legacy-vim-8.2
  ignore = dirty
[submodule "onehalf"]
  path = vim/plugins/onehalf
  url = https://github.com/sonph/onehalf.git
[submodule "vim-fugitive"]
  path = vim/plugins/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
[submodule "fzf.vim"]
  path = vim/plugins/fzf.vim
  url = https://github.com/junegunn/fzf.vim.git
[submodule "fzf"]
  path = vim/plugins/fzf
  url = https://github.com/junegunn/fzf.git
